@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #0A1D27;
    line-height: 20px;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
}
::selection{color: #FBD784; }
img {
    width: 100%;
    display: block;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    list-style: none;
    align-items: center;
    margin-left: 20px;
    
}
nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
nav a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}
nav i {
    font-size: 20px;
    color: #fff;
    padding-right: 8px;
    
}
nav a:hover{
    color: #fbd784;
}
@media screen and (max-width: 760px) {
    nav {
        padding: 20px 50px; /* Adjust padding for smaller screens */
        justify-content: space-between; /* Ensures proper spacing */
    }

    nav ul {
        display: none; /* Hide the menu items */
    }

    .account {
        display: flex; /* Ensures account option stays visible */
        align-items: center;
    }

    .logo img {
        width: 120px; /* Adjust logo size for better scaling */
        height: auto;
    }
}

section {
    content: "";
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#0A1D27,transparent);
    z-index: 1000;
}

section img {
    content: "";
    position: absolute;
    left: 0%;
    width: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
    z-index: -1;
    overflow: hidden;
}

.hg {
    position: absolute;
    left: 0%;
    top: 0%;
}
.mg {
    position: absolute;
    top: 23%;
   
}
.vg {
    position: absolute; 
    top: auto; 
}
section img#bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: multiply; 
    opacity: 0.5; 
    pointer-events: none;
}
section img#man {
    z-index: 10;
}
.content-hero {
    position: absolute;
    margin-top: 10%;
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 20%;
    justify-content: center;
    width: 65%;
    z-index: 9;
   
}
section h5 {
    display: flex;
    text-align: center;
    width: 100%;
}
section p {
    justify-content: center;
    width: 100%;
    line-height: 110%;
    margin-top: 0%;
    margin-bottom: 32px;
    font-weight: 450;
    font-size: 5em;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
}
#btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    z-index: 9;
}
@media screen and (max-width: 767px){
    .hg {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .mg {
        top: 35%;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .vg{
        top: 55%;
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: 50% 0%;
    }
}








.content-section {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 100%;  
}
.content-wrapper {
    display: grid;
    padding: 4rem;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    place-items: centre;
}

.img-container {
    max-width: 100%;
    width: 70%;
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    
}
.count {
    position: absolute;
    left: -100px;
    top: -70px;
    /* bottom: 320px; */
    opacity: 0.1;
    font-size: 200px;
    line-height: 100%;
    font-weight: 700;
    padding-left: 5%;
}

.content-text {
    position: relative;
    width: 100%;
    max-width: 550px;
}
.description {
    font-size: 1rem;
    line-height: 1.9;
    opacity: 0.8;
    font-weight: 550;
}

.tagline {
    display: flex;
    margin-bottom: 32px;
    -webkit-box-align: center;
    align-items: center;
    color: #fbd784;
    text-decoration: none;
    font-weight: 600;
}

.tagline-line {
    width: 72px;
    height: 2px;
    margin-right: 24px;
    background-color: #fbd784;
    
}

/* --h5--*/
.heading-tagline  {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h2 {
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: serif;
    font-size: 64px;
    line-height: 110%;
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    .content-wrapper{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    .content-text{
        justify-content: center;
        max-width: 100%;
        margin: 0 auto; /* Centering */
        padding: 20px;
    }
  
    .img-container{
        order: -1;
        width: 600px;  /* Make it square */
        height: 420px; /* Make it square */
        object-fit: cover;
        object-position: 50% 100%;
    }
}





footer {
    padding: 30px 10px;
}
footer img {
    width: auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.footer-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.copyright {
    margin-top: 30px;
    font-size: 14px;
    color: #A1A6B4;
}

.copyright a {
    color: #A1A6B4;
    text-decoration: underline;
}

.footer-left {
    width: 170px;
    color: white;
   
}

.footer-right {
    flex-direction: 1;

}

.copyright {
    
    opacity: 0.5;
}

.foot-heading {
    font-size: 18px; 
    color: #FBC177;
    font-weight: bold;
    margin-bottom: 15px;
}

.foot-list { 
    list-style-type: none;
    color: white;
    margin-bottom: 15px;
    justify-content: left;
    padding: 0;
    
}